.subpage-template {
  font-size: 12px;
  &-common {
    display: inline-block;
  }
}

.subpage-dashBorder {
  border: 0.1px dashed #fe714b;
}

.ant-tooltip-arrow {
  &::before {
    background: white;
  }
}
.ant-tooltip-inner {
  background: white;
  color: black;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: #fe714b;
  }
}