$color-theme: #29d;

$design_width: 750; // 设计图的标准尺寸，以iphone6为标准
$design_fontsize: 75;

// button相关 type
$default_color: #fff;
$primary_color: #07c160;
$info_color: #1989fa;
$warning_color: #ff976a;
$danger_color: #ee0a24;

// button相关 size
$large_height: 50px;
$small_height: 32px;
$normal_height: 44px;
$mini_height: 24px;

$large_width: 100%;
$small_width: 66px;
$normal_width: 86px;
$mini_width: 58px;

$large_fontsize: 16px;
$small_fontsize: 12px;
$normal_fontsize: 14px;
$mini_fontsize: 10px;